.footer__container  
    .footer__row 
        .footer__name
            .footer__title пользователи по инцидентам
            .footer__subtitle 
                .footer__subtitle-one Пользователь
                .footer__subtitle-sec Инциденты
            .footer__incident  
                .footer__surname Андрей Иванов
                .footer__around 
                    p.footer__first 50
                    p.footer__sec 18
                    p.footer__third 31
            .footer__incident                    
                .footer__surname Михаил Вешкин
                .footer__around 
                    p.footer__first-one 47
                    p.footer__sec 24
                    p.footer__third-third 0
            .footer__incident                    
                .footer__surname Семен Измайлов
                .footer__around 
                    p.footer__first-third 32
                    p.footer__sec-sec 0
                    p.footer__third 12
            .footer__incident                    
                .footer__surname Николай Островский
                .footer__around 
                    p.footer__first-four 11
                    p.footer__sec 7
                    p.footer__third-third 0
            .footer__incident                    
                .footer__surname Константин Константинопольский
                .footer__around 
                    p.footer__first-sec-first 0
                    p.footer__sec-sec 0
                    p.footer__third 8
            .footer__incident                    
                .footer__surname Александр Овчинников
                .footer__around 
                    p.footer__first-sec-sec 0
                    p.footer__sec 13
                    p.footer__third 7                                                                                        
        .footer__site 
        .footer__time