.footer__container  
    .footer__row
        .footer__name Пользователи по инцидентам 
            .footer__title 
                .footer__subtitle Пользователь
                .footer__incident Инциденты
            .footer__list 
                .footer__list-name Андрей Иванов
                .footer__number 
                    p.pinkk 50
                    p.orangee 18
                    p.greenn 31
            .footer__list 
                .footer__list-name Михаил Вешкин
                .footer__number 
                    p.pinkk 47
                    p.orangeTu 24
                    p.greenE 0   
            .footer__list 
                .footer__list-name Семен Измайлов
                .footer__number 
                    p.pinkk 32
                    p.orangeTh 0
                    p.greenn 12
            .footer__list 
                .footer__list-name Николай Островский
                .footer__number 
                    p.pinkk 11
                    p.orangeF 7
                    p.greenE 0
            .footer__list 
                .footer__list-name Константин Константинопольский
                .footer__number 
                    p.pinkTu 0
                    p.orangeFi 0
                    p.greenN 8
            .footer__list 
                .footer__list-name Александр Овчинников
                .footer__number 
                    p.pinkTu 0
                    p.orangeS 13
                    p.greenN 7                                                           
        .footer__name КАТЕГОРИИ САЙТОВ
            .footer__title 
                .footer__subtitle Категория
                .footer__incident Количество инцидентов
            .footer__list 
                .footer__list-name.categ  Поисковики
                .footer__statistics.marksS 1257 <sub>+3%</sub>
            .footer__list 
                .footer__list-name.categ  Новостные порталы
                .footer__statistics.marksTu 1129 <sub>+2%</sub>
            .footer__list 
                .footer__list-name.categ  Рзавлекательные
                .footer__statistics.marks 987 <sub>+7%</sub>
            .footer__list 
                .footer__list-name.categ  Категория с длинным названием, которые обрезаются по ширине
                .footer__statistics.marksTwo 596 <sub>+3%</sub>
            .footer__list 
                .footer__list-name.categ Игры
                .footer__statistics.marks 431 <sub>+1%</sub>
            .footer__list 
                .footer__list-name.categ  Форумы
                .footer__statistics.marks 147 <sub>+2%</sub>                                                                                
        .footer__name Дисциплина
            .footer__menu
                .footer__data Дата
                .footer__go Приход
                .footer__back Уход
                .footer__work Рабочее время
            .footer__clock
                p.data-f 20.04
                p.data-go 08.07 
                p.data-back 16.55
                p.data-workK 07.48
            .footer__clock
                p.data-f 19.04
                p.data-goo 07.56  
                p.data-backk 16.56
                p.data-workK 08.00
            .footer__clock
                p.data-f 18.04
                p.data-got 09.30  
                p.data-backT 18.30
                p.data-work 08.00
            .footer__clock
                p.data-f 17.04
                p.data-goF 08.47 
                p.data-backF 16.55
                p.data-work 08.00                                  
            .footer__clock
                p.data-f 16.04
                p.data-goFi 08.12  
                p.data-backFi 16.55
                p.data-work 07.43
            .footer__clock
                p.data-f 15.04
                p.data-goS 08.00
                p.data-backS 16.55
                p.data-workK 07.57                
