header.header
    .header__container
        .header__row
            .header__statistics-one 
                .header__title Всего инцидентов
                .header__number 1576 <sub>+16%</sub>
            .header__statistics-sec 
                .header__title Высокая важность
                .header__number-sec 157 <sub>+8%</sub> 
            .header__statistics-sec 
                .header__title Средняя важность
                .header__number-third 253 <sub>+3%</sub>
            .header__statistics-sec
                .header__title Всего связей
                .header__number-four 88 <sub>+2%</sub>                              
            .header__statistics-sec
                .header__title Исходящий трафик
                .header__number-five 653 МБ <sub>-8%</sub> 
            .header__statistics-sec
                .header__title Входящий трафик
                .header__number-six 476 МБ <sub>+16%</sub>                               